.flexbox-container {
    display: flex;
    flex-direction: column;
}

.flexbox-item-navbar {
    display: flex;
    background-color: black;
    justify-content: flex-start;
    align-items: center;
}

.nav-home {
    margin-left: 10%;
}

.griot-home {
    font-family: 'Noto Serif JP', serif;
}

.nav-links {
    align-self: flex-end;
    margin-left: 20%;
}

.nav-links ul {
    list-style-type: none;
}

.nav-links li {
    display: inline;
    margin: 20px;
}

.flexbox-item-hero {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image:  url(/images/theater-image-background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 40vh;
}

.hero-text {
    color: white;
    font-family: 'Noto Serif JP', serif;
    font-size: xx-large;
}

.flexbox-item-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3%;
    background-color: white;
}

.date-dropdown {
    display: flex;
    align-items: center;
    width: 67%;
    background-color: #dfdfdf;
    padding: 1%;
    border: 1px solid black;
    
}

.date-dropdown form {
    background-color: #dfdfdf;
    font-family: 'Noto Serif JP', serif;
}

.event-container {
    margin-top: 5%;
    margin-bottom: 5%;
    max-width: 800px;
    grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
    grid-template-rows: auto;
    overflow-y: auto;
    height: 75vh;
}

.event {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    font-family: 'Noto Serif JP', serif;
}

.event-left img {
    height: 25vh;
}

.event-center ul {
    margin: 0px;
}

.event-center li {
    list-style-type: none;
}

.event-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.event-right button {
    background-color: orange;
    color: white;
    font-size: 16px;
    padding: 10px;
    border: 1px solid black;
}

.flexbox-item-footer {
    display: flex;
    background-color: black;
    justify-content: space-around;
}

.flexbox-item-footer * {
    color: white;
}

.flexbox-item-footer h2 {
    padding-left: 40px;
}

.flexbox-item-footer li {
    list-style-type: none;
    margin-top: 15%;
}

.footer-map {
    margin: 2%;
}

.footer-map iframe {
    min-height: 25vh;
}


